/*
HEX
--jonquil: #f9c80eff;
--orange-red: #f86624ff;
--red-munsell: #ea3546ff;
--rebecca-purple: #662e9bff;
--maximum-blue-green: #43bccdff;

RGB
$jonquil: rgba(249, 200, 14, 1);
$orange-red: rgba(248, 102, 36, 1);
$red-munsell: rgba(234, 53, 70, 1);
$rebecca-purple: rgba(102, 46, 155, 1);
$maximum-blue-green: rgba(67, 188, 205, 1);

*/

* {
  font-family: "Comic sans MS";
  box-sizing: border-box;
}

html {
  min-height: 100vh; /* ensures page stretches to full height of screen at all times*/
}

body {
  margin: 0; /* 0 margin ensures the background extends fully */
  background: radial-gradient(#f9c80eff, #f86624ff);
}

/* ------------------- This section describes the styling for the titleScreen popup ------------------- */
.titleScreen {
  /*
  background-image: radial-gradient(
    ellipse farthest-corner at 45px 45px,
    rgba(249, 200, 14, 0.8) 0%,
    rgba(248, 102, 36, 0.2)
  ); */
  /*background-color: rgba(248, 102, 36, 0.4);*/
  height: 250px;
  max-width: 500px;
}

/* ------------------- This section describes the styling for the titleBar section ------------------- */
.titleBar h1 {
  color: #662e9bff;
  font-weight: normal;
  font-size: 5em;
  text-align: center;
  margin: 0px;
}
.statContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
  padding-bottom: 5px;
}
.statContainer > .statContainerStat {
  flex: auto;
}
.statContainerStat > .h4class {
  display: inline;
  width: auto;
  color: rgb(42, 119, 129);
  font-size: 2em;
}

#scoreStat {
  flex-basis: 100%;
}

/* ------------------- This section describes the styling for the gameboard section ------------------- */
.playerBoard {
  display: none;
}

.playerBoard.visible {
  /*max-width: 1200px;*/
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 5px;
  justify-content: center;
  perspective: 500px;
  padding-bottom: 20px;
}
.playingCard {
  /*display: flex;*/
  position: relative; /*but why here???*/
  height: 230px;
  width: 230px;

  /*overflow: hidden;*/
}

.playingCardFace {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: radial-gradient(#f9c80eff, #f86624ff);*/
  /* background-image: radial-gradient(
    ellipse farthest-corner at 45px 45px,
    rgba(35, 13, 163, 0.9) 30%,
    rgba(199, 31, 241, 0.2)
  );*/
  /*align-items: center;
  justify-content: center;
  position: absolute;*/
  height: 100%;
  width: 100%;
  border: 3px solid black;
  overflow: hidden;
  transition: transform 50ms ease-out;
  backface-visibility: hidden;
}

.playingCard .playingCardFace.visible.cardBack {
  transform: rotateY(360);
}

.playingCard .playingCardFace.visible.cardFront {
  transform: rotateY(0);
}

/*
.playingCardFace.cardFront {
  animation: dance 1s linear infinite 500ms;
}*/

.cardBack {
  /*position: relative;*/
  background: radial-gradient(#f9c80eff, #f86624ff);
  background-image: radial-gradient(
    ellipse farthest-corner at 45px 45px,
    rgba(35, 13, 163, 0.9) 30%,
    rgba(199, 31, 241, 0.2)
  );
  border-color: #d45c00ec;
  transform: rotateY(0);
  /*backface-visibility: hidden;*/
}
.cardFront {
  /*backface-visibility: visible;*/
  background-color: #ffbb89;
  border-color: #333;
  transform: rotateY(180deg);
}

.playingCardFace:hover .cardBackIcon {
  transition: transform 70ms ease-in-out;
  transform: scale(1.3, 1.3);
}

.titleScreen {
  height: 500px;
  width: 800px;
  background-image: radial-gradient(
    ellipse farthest-corner at 45px 45px,
    rgba(249, 200, 14, 1) 0%,
    rgba(248, 102, 36, 1)
  );
  top: 5%;
  left: 30%;
  z-index: 100;
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(42, 119, 129);
  border: 3px solid black;
  font-family: Creepy, serif;
  animation: overlay-grow 500ms forwards;
  /*transition: background-color 500ms, font-size 500ms;*/
}
/*
.titleScreen-small {
  font-size: 0.3em;
}*/

.titleScreen.invisible {
  animation: overlay-shrink 500ms forwards;
  /*transition-delay: 2000ms;*/
  /*transition: background-color 500ms, font-size 500ms;*/
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.5s linear;
}

.titleScreen.hidden {
  display: none;
}

@keyframes dance {
  0%,
  100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
}

@keyframes overlay-shrink {
  from {
    background-color: rgba(160, 11, 11, 0.8);
    display: flex;
  }
  to {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
}
